.row-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-item {
    flex-basis: 50%;
}

.footer-flex-item {
    flex-basis: 90%;
}

.footer-flex-item li {
    margin-right: 50px;
}