.row-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.col-flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-flex-start {
    display: flex;
    justify-content: flex-start;
}

.flex-item {
    flex-basis: 50%;
}

