.footer {
    height: 100px;
    width: 100%;
    background-color: #f0f0f0;
}

.footer ul {
    margin-top: 41px;
}

.social-items {
    flex-basis: 20%;
}

.social-items li:not(:last-child) {
    margin-right: 17px;
}

.social-items a:first-child {
    font-family: "PlairfairDisplay-Regular", sans-serif;
    height: 12px;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}